/* General */

@media (min-width: 300px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 550px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 750px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 860px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 24px;
  }
}

body {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 400;
  color: #181818
}

header {
  margin: 1rem;
  height: 1.5rem;
  z-index: 100;
  position: relative;
}

header .logo {
  height: 1.5rem;
}

h1 {
  font-size: 4rem;
  line-height: 1.25em;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 400;
}

h2 {
  font-size: 4rem;
  line-height: 1.5em;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  line-height: 1.25em;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 400;
}

h4 {
  font-size: 1.75rem;
  line-height: 1.25em;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 300;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.25em;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 300;
}

h6 {
  font-size: 1rem;
  line-height: 1.25em;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 400;
}

p {
  font-size: .8rem;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #181818;
  text-decoration: none;
  border-bottom: #181818 double 3px;
}

a:hover,
a:focus {
  color: #181818;
  text-decoration: none;
  cursor: pointer;
}

hr {
  border-color: #181818;
  border-top-width: 1px;
}

select {
  width: 100%;
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  height: 100%;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
}

select:focus {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  outline: 0px;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  font-size: 1.25rem;
  font-weight: 200;
  border-bottom: 1px solid #181818;
  padding: .25rem 0;
  overflow: visible;
  width: 100%;
}

label:after {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 1rem;
  color: #181818;
  position: relative;
  float: right;
  pointer-events: none;
  margin-top: -1.5rem;
}

.text-center {
  text-align: center;
}

.triple {
  font-size: 3em;
}

.yellowh {
  background-color: rgba(255, 235, 20, .75);
}

.orangeh {
  background-color: rgba(255, 180, 0, .75);
}

.pinkh {
  background-color: rgba(255, 111, 255, .75);
}

.blueh {
  background-color: rgba(139, 255, 255, .75);
}

.handwritten {
  font-family: "Patrick Hand", sans-serif;
  color: #d4151a;
}

.boldu {
  background-image: url(../images/copymarks/SVG/bold_1.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
  padding-bottom: .3em;
  margin-bottom: -.3em;
  -webkit-transition: background-color .2ss ease-out;
  -moz-transition: background-color .2ss ease-out;
  -o-transition: background-color .2ss ease-out;
  transition: background-color .2ss ease-out;
  border: 0;
}

a.boldu:hover,
a.boldu:focus {
  font-weight: 600;

}

/* NAVIGATION */

header nav ul#primary-nav {
  height: 0;
  overflow: hidden;
  margin: 0;
}

#primary-nav.show {
  height: 100%;
  border: 1px solid #181818;
  background-color: #fff;
  padding: .5rem;
  width: 50%;
  margin-left: calc(50vw - 2rem - 1px);
  margin-top: 0;
}

#primary-nav.show li {
  display: block;
}

header nav ul#primary-nav > * {
  display: inline-block;
}

header nav ul > * {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: #181818;
  padding: 0 .5rem;
  font-size: 1rem;
  border: 0;
}

ul li:not(.buytix) a {
  background: linear-gradient(to left, rgba(254, 235, 23, .0) 50%, rgba(254, 235, 23, .6) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition-property: background-position;
  transition-duration: .5s;
  transition-timing-function: ease;
  display: block;
}

ul li.buytix a {
  background: linear-gradient(to left, rgba(255, 180, 0, .0) 50%, rgba(255, 180, 0, .6) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition-property: background-position;
  transition-duration: .5s;
  transition-timing-function: ease;
  display: block;
}

ul.secondary-nav li a {
  background: linear-gradient(to left, rgba(254, 235, 23, .0) 50%, rgba(254, 235, 23, .6) 50%);
  background-size: 200% .5rem;
  background-position: right bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition-property: background-position;
  transition-duration: .5s;
  transition-timing-function: ease;
  display: block;
}

ul li a:hover,
ul li a:focus {
  color: #181818;
  background-position: left bottom;
  background-attachment: local;
}

header a {
  border: 0;
}

header .logo {
  margin: 1rem 0;
}

header nav ul > ul,
.secondary-nav {
  margin: 0;
}

header .secondary-nav-parent .secondary-nav {
  visibility: hidden;
  display: none;
  overflow: hidden;
  line-height: 1rem;
}

header .secondary-nav-parent:hover .secondary-nav,
header .secondary-nav-parent a:focus + .secondary-nav {
  visibility: visible;
  display: block;
  position: absolute;
  background-color: #fff;
  padding: .5rem .5rem 0 .5rem;
  margin: 0 -.5rem;
  border: 1px #181818 solid;
  z-index: 999;
}

.secondary-nav-parent .fa-angle-down {
  font-size: .8rem;
}

#togglenav {
  float: right;
  padding: 0;
  border: 0;
  margin: 0;
}

@media (min-width: 300px) {
  #togglenav {
    margin-top: .25rem;
  }
}

.heading {
  margin-top: 3rem;
  padding: 0;
}

.home-heading {
  min-height: 20vh;
}

.heading .container {
  z-index: 40;
  position: relative;
}

.heading img.main-img {
  width: 100vw;
}

.heading .crop {
  overflow: hidden;
  height: 180px;
}

.heading .crop img {
  margin-top: -10%;
}

.heading .logo {
  height: 1em;
  width: auto;
  margin: 10px 0;
}

.heading img.insert {
  height: .6em;
  position: relative;
  display: inline;
  margin-left: -1.5em;
  top: .6em;
}

@media (max-width: 464px) {
  .heading img.insert {
    display: none;
  }
}

@media (min-width: 860px) {
  header {
    margin: 40px 60px 20px 60px;
  }
  header .logo {
    margin: 0;
  }
  header nav {
    float: right;
    display: inline-block;
    line-height: 32px;
  }
  header nav ul#primary-nav {
    height: 100%;
    display: block;
    overflow: visible;
  }
  .heading {
    padding: 20px 0;
    height: auto;
  }
  .heading img.main-img {
    width: 50vw;
    position: absolute;
  }
  .heading .crop {
    height: auto;
  }
  .heading .crop img {
    margin-top: 0;
  }
  #togglenav {
    visibility: hidden;
    display: none;
  }
  .heading h1,
  .heading h2 {
    letter-spacing: .05rem;
    margin: 0;
  }
  .heading h1 .yellowh,
  .heading h2 .yellowh {
    padding-left: 60vw;
    margin-left: -60vw;
    padding-right: 10px;
  }
}

@media (max-width: 860px) {
  .heading .logo {
    display: none;
  }
  .home-heading .columns:first-child {
    width: 100%;
    margin: 0;
    margin-top: -60px;
  }
  .heading .columns h1 br {
    display: none;
  }
  .heading .columns h1 {
    background-color: rgba(255, 235, 20, .75);
    display: inline;
    padding-left: 50vw;
    margin-left: -50vw;
    font-size: 3rem;
    line-height: 4.25rem;
  }
  .heading p {
    font-size: 2rem;
  }
}

/* Main Description */

#main-desc {
  margin-top: -40px;
  background-color: #ffffff;
  display: block;
  padding: 20px 0 0 0;
  z-index: 20;
  position: relative;
}

#main-desc h4 {
  margin-top: -.5rem;
}

#main-desc p {
  font-family: 'Frank Ruhl Libre', serif;
}

@media (min-width: 860px) {
  #main-desc p {
    margin-top: 2.5rem;
    margin-bottom: 0rem;
  }
}

@media (max-width: 860px) {
  #main-desc p {
    margin-top: 2.5rem;
    margin-bottom: 0rem;
  }
}

/* Featured Section */

#featured {
  background: #ffffff;
  z-index: 20;
  position: relative;
}

#featured img {
  z-index: 1;
  position: relative;
  width: 100%;
  height: auto;
}

#featured h4 {
  padding: .5rem 2rem .5rem .5rem;
  margin-top: -1rem;
  margin-bottom: .5rem;
  z-index: 2;
  position: relative;
  display: block;
  width: fit-content;
}

#featured a {
  text-decoration: none;
  color: #181818;
}


/* Book Subnmissions */

#subm-instructions .pinkh {
  margin-left: -3rem;
  padding-left: 3rem;
  line-height: 1.5em;
  z-index: 10;
  position: relative;
}

#subm-instructions .triple {
  z-index: 20;
  position: relative;
  display: inline-block;
}

#subm-instructions .download-form {
  background-image: url("../images/copymarks/SVG/circle_2.svg");
  background-repeat: no-repeat;
  padding: 1.5rem 1rem 1rem;
  margin: -1.5rem -1rem 1rem 0;
  border: 0;
}

#subm-instructions .download-form a {
  padding: 0;
  border: 0;
}

#subm-instructions .download-form a:hover,
#subm-instructions .download-form a:focus {
  color: #181818;
  content: none;
}

#subm-instructions .please-note {
  margin-bottom: 0;
}

#subm-instructions ul li {
  font-size: .75rem;
  line-height: 1.5em;
  margin: .25rem;
}

#sort {
  margin: 2rem 0;
}

/* Events Page */

.event h4,
.event h5,
.event h6 {
  margin: .25rem 0;
  display: block;
  vertical-align: top;
}

.event h4 {
  display: block;
  width: 100%;
}

.event [class*='h'] {
  padding: 0 1rem 0 .5rem;
}

.event .columns {
  padding: 0;
}

/* CTA Blurb */

.cta {
  background-color: #ffffff;
  position: relative;
}

/* Footer */

footer {
  margin-top: 2rem;
  padding: 2rem 0;
  font-size: .75rem;
  border-top: 1px solid #181818;
  overflow: hidden;
}

footer h6 {
  border-bottom: 1px solid #181818;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
}

footer li {
  margin-bottom: .25rem;
}

footer .big-footer .row {
  display: table;
  margin-left: -2rem;
  margin-right: -2rem;
}

footer .big-footer {
  padding-bottom: 2rem;
}

footer .small-footer {
  border-top: 1px solid #181818;
  background-color: #ffffff;
  position: relative;
}

footer .columns {
  padding: 0 2rem 0 2rem;
  display: table-cell;
  float: none;
}

footer h6 a {
  border: 0;
}

footer p {
  font-family: "Frank Ruhl Libre", serif;
  margin: 0;
}

footer hr {
  margin: 1em 0;
}

#footer-nav {
  border-right: 1px solid #181818;
}

#tweets-collapsed,
#footer-nav-collapsed {
  display: none;
}

#footer-nav-collapsed ul,
#footer-nav ul {
  list-style-type: none;
}

#footer-nav-collapsed ul li a,
#footer-nav ul li a {
  border-bottom: #181818 double 3px;
  line-height: 1em;
  display: inline;
}

#contact-wrap {
  background-color: #eeeeee;
  padding-right: 0;
}

#contact {
  background-color: #eeeeee;
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin-top: -4rem;
  padding-left: 40vw;
  margin-left: -40vw;
  margin-right: -2rem;
  font-size: .5rem;
}

.contact-wrap {
  padding-right: 2rem;
}

.copyright-wrap {
  border-top: 1px solid #181818;
}

.copyright.twelve.columns {
  display: block;
}

.copyright.twelve.columns p {
  font-size: .75rem;
  padding: 2rem 0 0 0;
  text-align: center;
}

@media (min-width: 750px) {
  #contact {
    padding-bottom: 12rem;
    margin-bottom: -12rem;
  }
}

@media (max-width: 750px) {
  footer .big-footer .row {
    display: block;
    font-size: 1rem;
  }
  footer .container .columns {
    display: block;
    width: 100%;
  }
  #contact {
    padding-right: 40vw;
    margin-right: -40vw;
  }
  .contact-wrap {
    padding-right: 0;
  }
  #footer-nav,
  #tweets {
    display: none;
  }
  #footer-nav-collapsed {
    display: block;
    border: 0;
    margin-top: 2rem;
    margin-left: 0;
  }
  #tweets-collapsed {
    display: block;
    margin-top: 2rem;
    margin-left: 0;
  }
}

/* Twitter Plugin */

.plugin-box {
  border: 1px solid #181818;
}

@media (min-width: 300px) {}

@media (min-width: 550px) {}

@media (min-width: 750px) {}

@media (min-width: 860px) {}

@media (min-width: 1000px) {}

@media (min-width: 1200px) {}
